@{
    ViewBag.Title = "Contact";


}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <input type="text" placeholder="from" name="from" id="from1">
    <input type="text" placeholder="to" name="to" id="to1">
 
    <button id="sendBtn" type="submit" value="get info"/>


<div id="container"></div>

@section scripts{
<script>
    $(function () {
        $("#sendBtn").click(function () {
           
            $.ajax({
                method: "post",
                url: "/api/Interval/AddInterval",
                data: { from: $("#from1").val(), to: $("#to1").val() },
                succes: function (data) {
                    $("#container").val(data);
                }
            })
        })
    });
</script>

    
}